@model Product

<div class="col-12 p-1 border bg-light my-3 d-flex product-item">
    <a class="stretched-link" asp-controller="Product" asp-action="Details" asp-route-id="@Model.ProductId"></a>
    <div class="row d-flex flex-grow-1">
        <div class="col-3">
            <img class="fit-image" src="@Model.ThumbnailPath" />
        </div>
        <div class="col-6">
            <h2>@Model.ProductName</h2>
            <p>@Model.ShortDescription</p>
        </div>
        <div class="col-3">
            <h2>$@Model.Price</h2>
            <p>In stock: @Model.Quantity</p>
        </div>
    </div>

</div>