@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}
<div class="row pg-size">
    <div class="col-lg-3 pt-2 bg-light border-right">
        <h3>Categories:</h3>
        <partial name="CategoryPartial" model="@Model.CategoryTree" />
    </div>
    <div class="col-lg-9 bg-white container-fluid overflow-hidden">
        <div class="row mx-3 gy-5">
            @foreach (Product product in Model.ProductsDisplay.Take(4))
            {
                <partial name="ProductPartial" model="@product"/>
            }
        </div>
    </div>
</div>
@*<div class="row pg-size">
    <div id="category-list" class="col-xl-3 col-lg-4 pt-2 bg-light border-right">
        <h3>Categories:</h3>
        <partial name="CategoryPartial" model="@Model.CategoryTree" />
    </div>
    <div id="items-grid" class="col-xl-9 col-lg-8 bg-white">
        @foreach (Product prod in Model.ProductsDisplay)
        {
            <div class="col-12 p-1 border bg-info mx-3 my-1">
                <div class="row">
                    <div class="col-3">
                        <img class="img-fluid mx-auto d-block fit-image" src="@prod.ThumbnailPath" />
                    </div>
                    <div class="col-6">
                        <h2>@prod.ProductName</h2>
                        <p>@prod.Description</p>
                    </div>
                    <div class="col-3">
                        <h2>$@prod.Price</h2>
                        <p>In stock: @prod.Quantity</p>
                    </div>
                </div>
            </div>
        }
    </div>*@
</div>
