@model TradeShopApp.Models.Product

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Product details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UploadedPhoto)
        </dt>
        <dd class="col-sm-10">
            <img class="thumbnail" src="@Model.ThumbnailPath" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayMultiline(Model.LongDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OfferDetails)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayMultiline(Model.OfferDetails)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>


